
 {/*Basic Education page */}

    <Education>
    <h1>Education</h1>
    <p>My education</p>
    <h2>University of California, Berkeley</h2>
    <p>Master of Science in Electrical Engineering and Computer Sciences</p>
    <p>2018 - 2020</p>
    <h2>University of California, Berkeley</h2>
    <p>Bachelor of Science in Electrical Engineering and Computer Sciences</p>
    <p>2014 - 2018</p>
    